<h1>Matchvy</h1>
<table class="table">
  <thead>
  <tr>
    <th>Match</th>
    <th>Spelare</th>
    <th>Bekräftad</th>
    <th>Val</th>
  </tr>
</thead>
<tbody>
<% @matches.each do |match| %>
<tr style="background-color:#eee;"><td colspan=4><%= match.name%> <%= link_to 'Uppdatera match',
                      edit_match_path(match), :class => 'btn btn-mini' %></td></tr>
<% match.match_assignments.each do |assignment| %>
  <tr>
    <td>&nbsp</td>
    <td><%= assignment.player.name %></td>
    <td><%= assignment.is_confirmed %></td>
    <td><%= link_to 'Kommer', match_assignment_path(assignment)+"/confirm", :metod => :put, :action => :confirm, :class=>"btn btn-mini"%>   
    <%= link_to 'Kommer inte', match_assignment_path(assignment)+"/deny", :metod => :put, :action => :deny, :class=>"btn btn-mini"%>
    
    
    
  </tr>
<% end %>
<t>
<% end %>
</tbody>
</table>
<br />

