<h1>Säsonger</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>År</th>
    <th>Period</th>
    <th>Val</th>
  </tr>
</thead>
<tbody>
<% @seasons.each do |season| %>
  <tr>
    <td><%= season.year %></td>
    <td><%= season.period %></td>
    <td><%= link_to 'Uppdatera', edit_season_path(season), :class => 'btn btn-mini' %>
    <%= link_to 'Ta bort', season, confirm: 'Är du säker?', method: :delete,:class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'Ny säsong', new_season_path, :class =>'btn btn-primary' %>
