<%= form_for @article, :html => {:multipart => true} do |f| %>

 <div class="form-inputs">
    <%= f.label :title, 'Title' %> 
    <%= f.text_field :title, :class => 'textfield' %>   
<br/>
    <%= f.text_area :content %>
  </div>

<div class="form-inputs">

        <%= f.fields_for :assets do |builder| %>
          <%= render 'asset_fields', f: builder %>        
       <% end %>
      <%= link_to_add_fields "Lägg till bild", f, :assets %>

</div>             
                
<div class="form-actions">
  <%= f.submit :submit %>
</div>

<% end %> 
