<%= form_for @article, :html => {:multipart => true} do |f| %>

 <div class="form-inputs">
    <%= f.label :title, 'Title' %> 
    <%= f.text_field :title, :class => 'textfield' %>   
<br/>
    <%= f.text_area :content %>
  </div>

<div class="newPaperclipFiles">

        <%= f.fields_for :assets do |asset| %>
        
           <% if asset.object.new_record? %>
                 <%= asset.file_field :image %>     

           <% end %>
                            	
       <% end %>

</div>             
                
<div class="existingPaperclipFiles">     
     <% @article.assets.each do |asset| %> 
          <% unless asset.new_record? %>
                <div class="thumbnail">
                        <%= link_to( image_tag(asset.image.url(:thumb)), asset.image.url(:large) ) %>
                        <%#= asset.check_box :_delete %>
                </div>    
          <% end %>             
     <% end %>
</div>

<div class="form-actions">
  <%= f.submit :submit %>
</div>

<% end %> 
