<h1>Album</h1>

<table>
  <tr>
    <th>Titel</th>
    <th>Innehåll</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.content %></td>
    <td><%= link_to 'Visa', article %></td>
    <td><%= link_to 'Editera', edit_article_path(article) %></td>
    <td><%= link_to 'Ta bort', article, confirm: 'Är du säker?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nytt album', new_article_path, :class => 'btn-primary'  %>
