<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<% @article.assets.each do |asset| %>
	<%= link_to( image_tag(asset.image.url(:thumb)), asset.image.url(:large), :rel =>"group", :class => "fancybox") %>                  
<% end %>   

<p>
Klicka på bilderna för att starta bildvisning	  
</p>              

 <p>  
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</p>  