
  <!-- carousel -->
<div id="myCarousel" class="carousel">
<div class="carousel-inner">
    <% @items.each_with_index do |item, index| %>
      <div class="<% if index==0%>active <%end%>item">
              <%= image_tag item.image %>
          </div>
      <% end %>
  
</div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
  <%- model_class = CarouselItem.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>bild</th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @carousel_items.each do |carousel_item| %>
      <tr>
        <td><%= image_tag(carousel_item.url, :class => "item") %></td>
        <td><%= carousel_item.url %></td>
        <td><%= link_to switcher_name(carousel_item),
                      switch_path(carousel_item),
                      :action => :switch,
                      :method => :put,
                      :class =>  switcher_style(carousel_item) %></td>
        <td><%=l carousel_item.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_carousel_item_path(carousel_item), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      carousel_item_path(carousel_item),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_carousel_item_path,
            :class => 'btn btn-primary' %>
