  <!-- carousel -->
<div id="myCarousel" class="carousel">
<div class="carousel-inner">
    <% @items.each_with_index do |item, index| %>
      <div class="<% if index==0%>active <%end%>item">
              <%= image_tag item.image %>
          </div>
      <% end %>
  
</div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
  <%- model_class = CarouselItem.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Bild</th>
      <th>Visas</th>
      <th>Val</th>
    </tr>
  </thead>
  <tbody>
    <% @carousel_items.each do |carousel_item| %>
      <tr>
        <td><%= link_to( image_tag(carousel_item.image.url(:thumb)), carousel_item.image.url(:large)) %></td>
        <td><%= link_to switcher_name(carousel_item),
                      switch_path(carousel_item),
                      :action => :switch,
                      :method => :put,
                      :class =>  switcher_style(carousel_item) %></td>
        <td>
          <%= link_to "Ta bort",
                      carousel_item_path(carousel_item),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Ny bild",
            new_carousel_item_path,
            :class => 'btn btn-primary' %>