<%- model_class = @carousel_item.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:url) %>:</strong><br>
  <%= @carousel_item.image %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:active) %>:</strong><br>
  <%= @carousel_item.active %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              carousel_items_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_carousel_item_path(@carousel_item), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              carousel_item_path(@carousel_item),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
