<%- model_class = Player.new.class -%>
<h1>Spelare</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>&nbsp</th>
      <th>Namn</th>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th>Aktiv</th>
      <th>Spelade matcher</th>
      <th>Mål</th>
      <th>Assist</th>
      <% if can? :manage, @players%>
      <th>Val</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><% if (not player.user == nil) and not player.user.avatar_url == nil %> 
          <%=image_tag player.user.avatar_url, :alt => "avatar"%>
          <%end%></td>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td><%= player.active ? "Ja" : "Nej" %></td>
        <td><%= player.matches.length%></td>
        <td><%= player.made_goals %></td>
        <td><%= player.made_assists %></td>
        <% if can? :manage, player %>
        <td>
          <%= link_to "Uppdatera",
                      edit_player_path(player), :class => 'btn btn-mini' %>
          <%= link_to "Ta bort",
                      player_path(player),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Är du säker?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Ny spelare",
            new_player_path,
            :class => 'btn btn-primary' if can? :manage, @players %>
