<%- model_class = @player.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @player.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:position) %>:</strong><br>
  <%= @player.position %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:active) %>:</strong><br>
  <%= @player.active %>
</p>

<div class="form-actions">
<% if can? :manage, @player %>
  <%= link_to "Tillbaka",
              players_path, :class => 'btn'  %>
  <%= link_to "Uppdatera",
              edit_player_path(@player), :class => 'btn' %>
  <%= link_to "Ta bort",
              player_path(@player),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
              <% end %>
</div>
