<%= simple_form_for @match, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :datetime %>
  <%= f.input :other_team %>
  <%= f.input :score_other %>
  <%= f.input :season_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                matches_path, :class => 'btn' %>
  </div>
<% end %>
