<%= simple_form_for @match, :html => { :class => 'form-horizontal' } do |f| %>
<div class="controll-group string" style="margin-bottom:10px;">
    

  <%= f.label :datum %>
  <%= f.text_field :datum %>
  </div>


  <%= f.input :tid, :input_html=>{:class => 'input-time'} %>
  <%= f.input :other_team %>
  <%= f.input :score_other %>
  <%= f.input :season, :collection => season_collection %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                matches_path, :class => 'btn' %>
  </div>
<% end %>
