<%- model_class = Match.new.class -%>
<h1>Matcher</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:datum) %></th>
      <th>Motståndarlaget</th>
      <th>Resultat</th>
      <th>Säsong</th>
      <th>Visa</th>
      <% if can? :manage, @matches %>
      <th>Val</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.datum %></td>
        <td><%= match.other_team %></td>
        <td><%= result(match) %></td>
        <td><%= match.season.name %></td>
        <td><%= link_to 'Visa',
                      match_path(match), :class => 'btn btn-mini' %>
        <%if can? :manage, match %>
        <td>
          <%= link_to 'Uppdatera',
                      edit_match_path(match), :class => 'btn btn-mini' %>
                    <%= link_to 'Skicka mail',
                      mail_path(match),
                      :action => :send_mail,
                      :method => :put,
                      :class =>  'btn btn-mini' %>  
                      <%= link_to 'Ta bort', match_path(match), :confirm => 'Är du säker?', :method => :delete,:class => 'btn btn-mini btn-danger' %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Ny match',
            new_match_path,
            :class => 'btn btn-primary' if can? :manage, @matches%>

<br />

                                                            

