<h1>CosX <%= @match.goals.length.to_s + " - "+@match.score_other.to_s%> <%= @match.other_team+@match.datum.strftime(", %d/%m") %> </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Mål</th>
      <th>Målgörare</th>
      <th>Framspelare</th>
    </tr>
  </thead>
  <tbody>
<% @match.goals.each_with_index do |goal, index| %>
<tr>
<td><%= index+1 %></td>
<td><%= Player.find(goal.goaler_id).name %> </td>
<td><%= Player.find(goal.assister_id).name unless goal.assister_id == nil %></td>
</tr>
<% end%>
</tbody>
</table>
  <div class="form-actions">
  <%= link_to "Bakåt",
              matches_path, :class => 'btn'  %>
              <% if can? :manage, @match%>
  <%= link_to "Uppdatera",
              edit_match_path(@match), :class => 'btn' %>
  <%= link_to "Ta bort",
              match_path(@match),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
              <% end %>
</div>
