<%- model_class = @match.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>


<p>
  <strong><%= model_class.human_attribute_name(:other_team) %>:</strong><br>
  <%= @match.other_team %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:score_other) %>:</strong><br>
  <%= @match.score_other %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:season_id) %>:</strong><br>
  <%= @match.season_id %>
</p>

<div class="form-actions">
  <%= link_to "Bakåt",
              matches_path, :class => 'btn'  %>
  <%= link_to "Editera",
              edit_match_path(@match), :class => 'btn' %>
  <%= link_to "Ta bort",
              match_path(@match),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
