<p id="notice"><%= notice %></p>

<p>
  <b>Match:</b>
  <%= @goal.match_id %>
</p>

<p>
  <b>Goaler:</b>
  <%= @goal.goaler_id %>
</p>

<p>
  <b>Assister:</b>
  <%= @goal.assister_id %>
</p>


<%= link_to 'Edit', edit_match_goal_path(@goal) %> |
<%= link_to 'Back', match_goals_path %>
