<!DOCTYPE html>
<html>
<head>
  <title>CosX</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |name, message| %>
	<% if name == :notice %>
		<div id="flash_<%= name %>" class="alert-message success" data-alert="alert">
			<a class="close" href="#">×</a>
	<% elsif name == :warning %>
		<div id="flash_<%= name %>" class="alert-message warning" data-alert="alert">
			<a class="close" href="#">×</a>
	<% elsif name == :error %>
		<div id="flash_<%= name %>" class="alert-message error" data-alert="alert">
			<a class="close" href="#">×</a>
	<% else %>
		<div id="flash_<%= name %>">	
	<% end %>

			<%= message %>
		</div>
	<% end %>
<%= yield %>
</body>
</html>
